
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p>Language Academy is a school for English language and Western culture. We are based in Cambridge,Massachusetts and provide unique English classes to a variety of non-native English speakers in the Boston area. We also hold fun events and parties for our students and friends to give everyone an opportunity to meet new people who want to learn English too!

                Our programs and classes use activities to help students improve their colloquial English and communication skills, as well as their understanding of Western culture and daily life.</p>
                <div class="well">
                    <blockquote>
                        <p>Learn everything you can, anytime you can, from anyone you can; there will always come a time when you will be grateful you did.</p>
                        <footer>Sarah Caldwell  
                        <cite title="Source Title"></cite></footer>
                    </blockquote>                
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>9 Sep. 2014</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>Language Academy Inc.</dd>
                            <dt>Last Year's Turnover</dt>
                            <dd>$1,250,375</dd>
                            <dt>Employees</dt>
                            <dd>6</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Corporate Leadership</h2>
               <ul class="media-list">
                <li class="media" >
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src="https://localhost:3443/Images/Sergio.png" alt="Sergio">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Sergio Risquez Ruiz
                        <small>Founder</small></h3>
                        <p>I was born in Barcelona in 1981, but I grew up in Cordoba. I realized that my true vocation was always to teach to others. For that purpose, I established the english academy to be helpful for the community. People could benefit from learning english in order to apply for good jobs and They could have better opportunites. </p>
                    </div>
                </li>
            </ul>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            2014
                        </th>
                        <th>
                            2015
                        </th>
                        <th>
                            2016
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Employees
                        </th>
                        <td>
                            2
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            6
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Students
                        </th>
                        <td>
                            97
                        </td>
                        <td>
                            150
                        </td>
                        <td>
                            400
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Special Events
                        </th>
                        <td>
                            3
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            15
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Annual Turnover
                        </th>
                        <td>
                            $251,325
                        </td>
                        <td>
                            $550,375
                        </td>
                        <td>
                            $1,250,375
                        </td>
                    
                    </tr>
                </table>
                </div>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div> 
    </div>
