
  

    <div class="container">
        <div class="row row-content">
            <p style="padding:20px;" ></p>
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
               <p style="padding:20px;"></p>
                <h3 align=center>OUR GUARANTEE</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">        
                <div class="media" >
                     <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src="../images/guarantee.png" alt="Guarantee">
                        </a>
                    </div>
                    <div class="media-body">
                        <p style="padding:10px;"></p>
                        <p>Because of the individualized nature of our programs and the high quality of our instruction, we guarantee your satisfaction. If you are not fully satisfied with the quality of instruction, you may request a refund of your tuition in full. Registration and late fees are non-refundable. Please read detailed information.</p>
                     </div>
                   
                </div>
            </div>
        </div>





        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>OUR INSTRUCTORS</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="media" >
                    <div class="media-body">
                        <p style="padding:10px;"></p>
                        <p>A typical instructor at The Boston Language Academy is a native speaker with years of teaching experience in this country and abroad. Because of the quality of our programs we tend to attract highly motivated students whose level of motivation as a class further enhances the results for each student in the class.</p>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src="../images/Instructor.jpg" alt="Instructor">
                        </a>
                    </div>
                </div>
            </div>
        </div>

     
    </div>
