   <div class="container">

      <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Programs</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Programs</h3>
               <hr>
            </div>
        </div>


        <div class="row row-content">
            <p style="padding:20px;" ></p>
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
               <p style="padding:20px;"></p>
                <h3 align=center>Conversation Practice (CPP)</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">        
                <div class="media" >
                     <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src="../images/speaking.png" alt="Conversation">
                        </a>
                    </div>
                    <div class="media-body">
                        <p style="padding:10px;"></p>
                        <p>A truly unique conversation practice class that offers one-on-one speaking practice for English language learners. Our Conversation Practice Class allows you to connect with a native English speaker through culture and language in an interactive setting.</p>
                     </div>
                   
                </div>
            </div>
        </div>


         <div class="row row-content">
            <p style="padding:20px;" ></p>
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
               <p style="padding:20px;"></p>
                <h3 align=center>Test Preparation (TPP)</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">        
                <div class="media" >
                     <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src="../images/preparation.jpg" alt="preparation">
                        </a>
                    </div>
                    <div class="media-body">
                        <p style="padding:10px;"></p>
                        <p>This private test preparation class is designed to allow students to study intensively for the TOEFL, TOEIC, IELTS or SATs. With flexible scheduling options and highly experienced teachers, you can prepare for any test with confidence that you will pass with flying colors.</p>
                     </div>
                   
                </div>
            </div>
        </div>

               <div class="row row-content">
            <p style="padding:20px;" ></p>
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
               <p style="padding:20px;"></p>
                <h3 align=center>Specialized Program (SP)</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">        
                <div class="media" >
                     <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src="../images/Specialized.png" alt="Specialized">
                        </a>
                    </div>
                    <div class="media-body">
                        <p style="padding:10px;"></p>
                        <p>These lessons offer a dynamic environment that allows you to design an individual learning plan for your unique needs. With a private instructor you can focus on specific areas of English such as grammar, vocabulary, writing, speaking or listening.</p>
                     </div>
                   
                </div>
            </div>
        </div>

    </div>
